a {
	display: inline-block
}

body {
	color: white;
	height: 100%;
	width: 100%;
	margin: auto;
	text-align: center; 
	font-family: 'Source Sans Pro', sans-serif;
	background-color: black;
}
p {
	padding: 0.25em;
}
h1 {
	font-size: 4em;
	margin: 0.5em 0 auto;
}

button {
	padding: .5rem;
	margin: .5rem;
	background-color: white;
	font-size: .75rem;
	text-transform: uppercase;
	border-radius: .5em;
	border-width: 2px;
	border-color: black;
}

button:hover {
	color: white;
	background-color: #558;
	border-color: #FFF;

}


img {
	background-color: white;
 	float: left;
	margin: 0.5em;
	border: 1em solid grey;
	border-radius: 50%;
	padding: 0.5em;
	max-width: 100%;
}




ul {
	border-radius: 0.25em;
	display: inline-block;
	list-style-position: inside;
	margin-top: 0.25em;
	padding: 0;
	width: 100%;
}

a {
	color: white;
	font-weight: 700;
	text-decoration: none;
}

a:hover {
	color: blue;

}

li {
	max-width: 100%;
	padding: 0.25em;
}

p {
	padding: 0em 0.5em;
}



#container {
	border-radius: 0.25em;
	width: 80%;
	background-color: black;
	margin: 0.25em auto;
	margin-top: 4em;
	padding:  0.25em 1em 1em;


}
#demos {
	display: none;
}


#demosButton {
	background-color: darkgrey;
	border: 1px solid white;
	border: 3px solid black;
	border-radius: 0.5em;
	color: black;
	margin: 0.5em 2em auto;
	padding: 0.5em;
	text-align: center;
	transition: all 2s;

}

#arrowDown {
	display: none;
} 

#arrowRight {
	display: block;
} 

#nav:hover #demos {
	display: block;
} 

#nav:hover #arrowDown {
	display: block;
} 
#nav:hover #arrowRight {
	display: none;
} 

#demosButton.redBorder {
	border-color: red;
}

#nav {
	background-color: rgba(0,0,0,0);
	padding-bottom: 1em; 
	position: fixed;
	top: 0;
	width: 100%;
}

.highlight {
	color: red;
	font-weight: bold;
}
.inline {
	border-radius: 3px;
	height: 100%; 
	margin: 0.25em auto;
	padding: 0.25em auto;
	max-width: 100%;
	width: 100%;
	overflow: hidden;

}

.links {
	background-color: rgba(255,255,255,0.15);
	margin: 1em auto;
}

.twocol {
	width: 50%
}

.left {
	float: left;
}

.right {
	float: right;
}

/* responsive layout display */
@media (max-width: 600px) {
	img {
		float: none;
	    box-sizing:border-box;
	    margin: 0 auto;
	    margin-bottom: 1em;
		width: 90%;
	}
}


/* selectors */

li:first-child {
	background-color: rgba(255,255,255,0.25);
}

li:last-child {
}

li:nth-child(2n+3) {
	background-color: rgba(255,255,255,0.20);
}
li:nth-child(2n) {
	background-color: rgba(255,255,255,0.10);
}