


body {
	height: 100%;
	width: 100%;
	margin: 0;
	text-align: center; 
	font-family: sans-serif;
	font-family: 'Jua', sans-serif;
}
p {
	text-align: center;
}

h1 {
}

button {
	padding: .5rem;
	margin: .5rem;
	background-color: white;
	font-size: .5rem;
	text-transform: uppercase;
	border-radius: .5em;
	border-width: 3px;
	border-color: #FFF0;
}

button:hover {
	color: white;
	background-color: #558;
	border-color: #FFF;

}

ol {
	list-style-position: inside;
	padding: 0;
}

li {
	border: 0px solid black;

}

.container {
	width: 100%;
}

.inline {
	border-radius: 3px;
	height: 100%; 
	margin: 1em auto;
	padding: 1em;
	width: 80%;
}

/* game of life */
.living {
	background-color: darkgrey;
}
.dying {
	background-color: lightgrey;
}
.alive {
	background-color: black;
}
.dead {
	background-color: white;
}
.golButtons {
	border-color: #0f0; border-width: 3px;
}

/* survivor */
#gameboard {
	border: 1px solid black;
	margin:  1%;
	padding: 2.5%;

}
#menu {
	border: 1px solid black;
	margin:  1%;
	padding: 2.5%;
	vertical-align: top;
}


.food {
	background-color: green;
}
.monster {
	background-color: red;
}
.rock {
	background-color: tan;
}
.trail {
	background-color: yellow;
}


/* selectors */

li:first-child {
	border-top: 1px solid black;
	border-radius: 1em;
}

li:last-child {
	border-bottom: 1px solid black;
	border-radius: 1em;
}

li:nth-child(2n+3) {
	background-color: rgba(0,0,0,0.15);
}