a {
	display: inline-block
}

body {
	height: 100%;
	width: 100%;
	margin: auto;
	text-align: center; 
	font-family: 'Lato', sans-serif;
	background-color: lightblue;
}
p {
	text-align: center;
	padding: 0.25em;
}

h1 {
}
h2 {
}

button {
	padding: .5rem;
	margin: .5rem;
	background-color: white;
	font-size: .75rem;
	text-transform: uppercase;
	border-radius: .5em;
	border-width: 2px;
	border-color: black;
}

button:hover {
	color: white;
	background-color: #558;
	border-color: #FFF;

}

img {
	background-color: white;
 	float: left;
	margin: 0.5em;
	border: 1em solid grey;
	border-radius: 50%;
	padding: 0.5em;
	max-width: 100%;
}




ul {
	border: 1px solid grey;
	border-radius: 0.25em;
	display: inline-block;
	list-style-position: inside;
	padding: 0.25em;
}

li {
	max-width: 100%;
	padding: 0.25em;
}

p {
	padding: 0em 0.5em;
}



#container {
	border-radius: 0.25em;
	width: 80%;
	background-color: white;
	margin: 0.25em auto;
	padding:  0.25em 0.5em 1em;


}

.highlight {
	color: red;
	font-weight: bold;
}
.inline {
	border-radius: 3px;
	height: 100%; 
	margin: 0.25em auto;
	padding: 0.25em auto;
	max-width: 100%;
	width: 100%;
	overflow: hidden;

}

.twocol {
	width: 50%
}

.left {
	float: left;
}

.right {
	float: right;
}

/* game of life */
.living {
	background-color: darkgrey;
}
.dying {
	background-color: lightgrey;
}
.alive {
	background-color: black;
}
.dead {
	background-color: white;
}
.golButtons {
	border-color: #0f0; border-width: 3px;
}

/* survivor */
#gameboard {
	border: 1px solid black;
	margin:  1%;
	padding: 2.5%;

}
#menu {
	border: 1px solid black;
	margin:  1%;
	padding: 2.5%;
	vertical-align: top;
}


.food {
	background-color: green;
}
.monster {
	background-color: red;
}
.rock {
	background-color: tan;
}
.trail {
	background-color: yellow;
}

@media (max-width: 600px) {
	img {
		float: none;
	    box-sizing:border-box;
	    margin: 0 auto;
	    margin-bottom: 1em;
		width: 90%;
	}
}


/* selectors */

li:first-child {
}

li:last-child {
}

li:nth-child(2n) {
	background-color: rgba(0,0,0,0.10);
}