body {
	width: 100%;
	padding: 1em;
	text-align: center; 
	font-family: sans-serif;
}
button {
	padding: 2em;
	margin: 1em;
	background-color: white;
	font-size: 1em;
	text-transform: uppercase;
	border-radius: 1em;
	border-width: 0px;
}