body {
	width: 100%;
	text-align: center; 
	font-family: sans-serif;
	font-family: 'Jua', sans-serif;
}
p {
	text-align: center;

}
h1 {
}
button {
	padding: .5rem;
	margin: .5rem;
	background-color: white;
	font-size: .5rem;
	text-transform: uppercase;
	border-radius: .5em;
	border-width: 3px;
	border-color: #FFF0;
}
button:hover {
	color: white;
	background-color: #558;
	border-color: #FFF;

}
ol {
	list-style-position: inside;
	padding: 0;
}
.inline {
	border-radius: 3px;
	height: 100%; 
	margin: 1em auto;
	padding: 1em;
	width: 80%;
}
