body {
	width: 100%;
	text-align: center; 
	font-family: sans-serif;
}
p {
	text-align: center;
}
button {
	padding: .5rem;
	margin: .5rem;
	background-color: white;
	font-size: .5rem;
	text-transform: uppercase;
	border-radius: .5em;
	border-width: 0px;
}
ol {
	list-style-position: inside;
	padding: 0;
}
.inline {
	border-radius: 3px;
	height: 100%; 
	margin: 1em auto;
	padding: 1em;
	width: 80%;
}
